<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbrite.blobphoto.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- Include next permission if you want to allow UIL to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/blob_photo"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mbrite.blobphoto.app.MainActivity"
            android:label="@string/blob_photo"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="com.mbrite.blobphoto.app.action.main" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mbrite.blobphoto.app.LoginActivity"
            android:label="@string/blob_photo"
            android:theme="@android:style/Theme.Holo.Light"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mbrite.blobphoto.app.SettingsActivity"
            android:label="@string/settings"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="com.mbrite.blobphoto.app.ImageUploadActivity"
            android:label="@string/upload_image"
            android:theme="@android:style/Theme.Light" >
        </activity>
    </application>

</manifest>
